<nav class="navbar navbar-expand navbar-dark bg-dark" *ngIf="currentUser">
    <div class="navbar-nav">
        <a class="nav-item nav-link" routerLink="/">Home</a>
        <a class="nav-item nav-link" (click)="logout()">Logout</a>
    </div>
</nav>
<div class="container" *ngIf="currentUser">
    <br>
    <div class="row">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Customers</h5>
          <h6 style="font-size: large;">{{ average_customers | number : '1.2-2'}}</h6>
          
        </div>
      </div>
      <br>


      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Revenue</h5>
          <h6 style="font-size: large;">{{ average_revenue | number : '1.2-2'}}</h6>
          
        </div>
      </div>
      <br>


      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Transactions</h5>
          <h6 style="font-size: large;">{{ average_transactions | number : '1.2-2'}}</h6>
          
        </div>
      </div>
    </div>

    <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link" routerLink="/">Customers</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/revenue">Revenue</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/transactions">Transactions</a>
        </li>
    </ul>      
    
    
</div>
<br>
<br>
<br>
<router-outlet></router-outlet>
